<p id="notice"><%= notice %></p>

<p>
  <strong>Sneaker:</strong>
  <%= Sneaker.find(@photo.sneaker_id).brand %>
</p>

<p>
  <strong>Title:</strong>
  <%= Sneaker.find(@photo.sneaker_id).name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<div>
  <%= image_tag @photo.image %>
</div>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
